In [2]:
import pandas as pd # pip install pandas

In [2]:
df = pd.read_csv('Fertilizer Recommendation.csv')
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [3]:
st = df["Soil Type"].unique() # converting text values into integers for the ml algorithm
                              # soil type is unique values unique function
                              # unique function gives the unique values

print(f"Soil Type {st}")

ct = df['Crop Type'].unique()
print(f"Crop Type {ct}")

fn = df['Fertilizer Name'].unique()
print(f"Fertilizer names {fn}")

Soil Type ['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
Crop Type ['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
Fertilizer names ['Urea' 'DAP' '14-35-14' '28-28' '17-17-17' '20-20' '10-26-26']

Changing the string to numeric
the values are assigned alphabetically with first character
for that we used label encoder
categorical data is assigned numeric values
if we have too many values ,just drop the coloumn based on our requirement

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Soil Type'] = le.fit_transform(df['Soil Type'])
df['Crop type'] = le.fit_transform(df['Crop Type'])
df['Fertilizer Name'] = le.fit_transform(df['Fertilizer Name'])

In [5]:
st = df["soil Type"].unique() # soil type values unique function
print(f"Soil Type {st}")

ct = df['Crop Type'].unique()
print(f"Crop type {ct}")

fn = df['Fertilizer Name'].unique()
print(f"Fertilizer names {fn}")

KeyError: 'soil Type'

In [6]:
df.isnull().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
Crop type          0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.describe()

,Temparature,Humidity,Moisture,Soil Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name,Crop type
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,30.282828,59.151515,43.181818,2.010101,18.909091,3.383838,18.606061,3.636364,5.151515
std,3.502304,5.840331,11.271568,1.410565,11.599693,5.814667,13.476978,1.950691,3.140790
min,25.000000,50.000000,25.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,54.000000,34.000000,1.000000,10.000000,0.000000,9.000000,2.000000,2.000000
50%,30.000000,60.000000,41.000000,2.000000,13.000000,0.000000,19.000000,4.000000,5.000000
75%,33.000000,64.000000,50.500000,3.000000,24.000000,7.500000,30.000000,5.000000,8.000000
max,38.000000,72.000000,65.000000,4.000000,42.000000,19.000000,42.000000,6.000000,10.000000

In [9]:
x = df.drop(columns='Fertilizer Name') # prints all the columns except fn
x

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Crop type
0,26,52,38,4,Maize,37,0,0,3
1,29,52,45,2,Sugarcane,12,0,36,8
2,34,65,62,0,Cotton,7,9,30,1
3,32,62,34,3,Tobacco,22,0,20,9
4,28,54,46,1,Paddy,35,0,0,6
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,Pulses,24,0,19,7
95,30,60,27,3,Tobacco,4,17,17,9
96,38,72,51,2,Wheat,39,0,0,10
97,36,60,43,4,Millets,15,0,41,4
98,29,58,57,0,Sugarcane,12,0,10,8

In [10]:
y = df['Fertilizer Name']
y

0     6
1     5
2     1
3     4
4     6
     ..
94    4
95    0
96    6
97    5
98    3
Name: Fertilizer Name, Length: 99, dtype: int32

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [12]:
print(x_test.head())
print(y_test.head())

    Temparature  Humidity   Moisture  Soil Type Crop Type  Nitrogen  \
26           30         60        63          3    Cotton         9
86           29         58        30          3   Tobacco        13
2            34         65        62          0    Cotton         7
55           27         53        43          0   Millets        23
75           29         58        42          1     Paddy         9

    Potassium  Phosphorous  Crop type
26          9           29          1
86         17           16          9
2           9           30          1
55          0           24          4
75         10           22          6
26    1
86    0
2     1
55    4
75    1
Name: Fertilizer Name, dtype: int32

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error

In [ ]:
kn = KNeighborsClassifier(n_neighbors=5)
s = SVC()
rf = RandomForestClassifier()
dt = DecisionTreeClassifier()

rf.fit(x_train,y_train)
dt.fit(x_train, y_train)
s.fit(x_train,y_train)
kn.fit(x_train, y_train)

y_pred2 = rf.predict(x_test)
y_pred1 = dt.predict(x_test) # for the user input
# it prints the output

y_pred3 = s.predict(x_test)
y_pred4 = kn.predict(x_test) # for the user input
# for trainning data set ,it gives a lot output bcoz trainning data is large


print(f"Decision tree {y_pred1} accuracy is {mean_absolute_error(y_test,y_pred1)}")
print(f"Random Forset {y_pred2} accuracy is {mean_absolute_error(y_test,y_pred2)}")
print(f"Support Vector classifier {y_pred3} accuracy is {mean_absolute_error(y_test,y_pred3)}")
print(f"Kneighbour classifier {y_pred4} accuracy is {mean_absolute_error(y_test,y_pred4)}")